*{
	font-family: "Roboto";
	margin: 0;
	padding: 0;
}

body{
	background: url("../imagens/sf-bg.jpg") 50% fixed;
}

.menu{
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding:1rem;
	background: rgba(0, 0, 0, 0.2);
}

.container{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
	height: 100%;
	color: #fff;
	animation: fadein 1s;
	margin-top: 3em;
}

@keyframes fadein {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}
  